@import 'utilities.css';
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#ffffff;
    --turnary:#898989;
    --light:#f2f2f2;
    --secondary:#070606;
}body{
    font-family:'poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
}
header{
    background:var(--dark);
    clip-path:polygon(0 0,100% 0,100% 100%,70% 87%,0 100%);
}
.container{
    max-width:1152px;
    padding:0px 15px;
    margin:0px auto;
}
header nav .left div{
    color:var(--primary);
}
header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-right:3rem;
    text-transform: uppercase;
    transition:all .3s ease;
}
header nav .left a:hover{
    color:var(--primary);
}
header nav{
    padding:2rem 0;
}
header nav .branding{
    margin-right:5rem;
    font-size: 30px;
}
.hero{
    padding:1rem 0;
}
.hero .left img{
    width:350px;
}
.hero .right{
    color:var(--pure);
}
.hero .right h6{
    font-size: 1rem;
    color:var(--primary);
    margin-bottom: 0.5rem;
}
.hero .right h1{
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.hero .right h1 span{
    color:var(--primary)
}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
.hero .right{
    margin-top: -7rem;
}
section{
    padding:6rem 0;
}
section.about .about-me-image{
    height:500px;
}
section.about h1{
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: 400;
}
section.about h1 span{
    color:var(--primary);
}
section.about h3{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
section.about p{
    font-family: 'Lato',sans-serif;
    color: var(--turnary);
    line-height: 1.9;
    margin-bottom:2.5rem;
}
section.about .social{
    display: flex;
}
section.about .social a{
    display:flex;
    align-items:center;
    justify-content: center;
    transition:all 0.3s ease;
}
section.about .social a img{
    width:35px;
    margin-right: 0.8rem;
    margin-bottom: 0.5rem;
}
section.about .social a :hover{
    background: var(--dark);
}
section.services{
    background:var(--turnary);
}
.section-heading{
    color:var(--secondary);
    text-align:center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading + p{
    color: var(--pure);
    font-family: 'Lato' ,sans-serif;
    margin-bottom: 6rem;
    text-align: center;
}
.section-heading span{
    color:var(--primary);
}
section.services .card-wrapper{
    background:var(--light);
}
section.services .card-wrapper{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:6rem;
}
section.services .card-wrapper .card{
    padding:3rem 2rem;
    position: relative;
    padding-top:5rem;
    text-align: center;
}
section.services .card-wrapper .card img{
    background: var(--dark);
    width:90px;
    position:absolute;
    top:-3.5rem;
    left:50%;
    transform:translateX(-50%);
}
section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom:0.5rem;
}
section.services .card-wrapper .card p{
    font-family: 'Lato',sans-serif;
    color:var(--turnary);
    line-height: 1.6;
}
section.work{
    background: var(--light);
}
section.work p{
    color: var(--turnary);
}
section.work img{
    width:400px;
}
section.work .card-wrapper{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:2rem;
}
section.work .card-wrapper .card{
    position:relative;
    height:250px;
}
section.work .card-wrapper .card .overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--primary);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    color:var(--light);
    opacity:0;
    transition:all .3s ease;
}
section.work .card-wrapper .card .overlay:hover{
    opacity:1;
}
section.work .card-wrapper .card .overlay a{
    color:var(--secondary);
    text-decoration: none;
}
section.work .card-wrapper .card img{
    height:100%;
    width:100%;
} 
section.work .card-wrapper .card p{
    margin-top:1rem;
    color:var(--secondary);
    font-family:sans-serif;
    font-size:1rem;
    line-height:1rem;
    font-weight:bold;
}
section.contact p{
    color:var(--turnary);
}
section.contact .card-wrapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:4rem;
}
section.contact .card-wrapper .card img{
    width:100px;
    margin-bottom: 2rem;;
} 
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card h1{
    font-weight: 400;
    margin-bottom: 0.5rem;
}
section.contact .card-wrapper .card h6{
    color:var(--turnary);
}
section.contact .input-wrap{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-bottom:1rem;
    margin-top: 3rem;
}
section.contact .input-wrap-2{
    display:flex;
    flex-direction: column;
    margin-bottom:1rem;
    font-size:0.9rem;
}
section.contact .input-wrap-2 input{
    margin-bottom: 1rem;
}
section.contact  input{
    padding:0.5rem;
    border:1px solid var(--turnary);
    font-size:0.9rem;
}
section.contact .input-wrap-2 textarea{
    padding:0.5rem;
    border:1px solid var(--turnary);
}
section.contact .btn-wrapper{
    text-align:center;
    margin-top: 2rem;
}
section.education p{
    color:var(--light);
    margin-bottom: 3rem;
}
section.education{
    background:var(--dark);
}
section.education h1{
    color:var(--primary);
}
section.education .card-wrapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:6rem;
}
section.education .card-wrapper .card{
    background: var(--light);
}
section.education .card-wrapper .card h3{
    text-align:center;
    margin-bottom: 2rem;
}
section.education .card-wrapper .card p{
    color:var(--secondary);
    font-family: sans-serif;
    margin-bottom: 1rem;
    text-align: center;
}
section.about .social .link a{
    text-align: center;
    font-size:0.6rem;
    font-family:sans-serif;
    text-decoration: none;
}











